@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply px-3 py-2 mx-3 mt-2 font-semibold text-white transition-colors duration-300 transform lg:mt-0 hover:text-yellow-500;
  }
  .btn-base {
    @apply uppercase px-6 py-4 text-lg font-medium rounded-lg mt-6 border-b-[3px] 
      hover:border-transparent transition-all delay-200;
  }
  .menus-container {
    @apply grid grid-cols-1 gap-6 px-5 mx-auto mt-6 md:mt-8 lg:mt-12 lg:grid-cols-2 lg:gap-8 max-w-7xl lg:px-0;
  }
}
